---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-20">
      <h1 class="flex flex-row justify-start text-white font-bold text-5xl">
        Hola, soy Alan
      </h1>
      <h2>
        +2 años de experiencia. Desarrollador Web. De Colima, México.
        Especializado en crear aplicaciones web modernas y eficientes.
      </h2>
    </section>
  </main>
</Layout>
