<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#2afc85] [&>p>strong]:font-normal [&>p>strong]:font-mono text-lg text-pretty order-2 md:order-1"
  >
    <p>
      Soy Alan, y desde que escribí mis primeras líneas de código entendí que
      programar no es solo <strong>hacer que las cosas funcionen,</strong> sino <strong
        >crear experiencias que realmente aporten valor.</strong
      >
    </p>

    <p>
      Disfruto transformar ideas en <strong
        >productos claros, funcionales y bien construidos.</strong
      > Me gusta <strong> cuidar los detalles,</strong> pensar en las personas que
      usarán lo que desarrollo y buscar <strong
        >soluciones simples a problemas complejos.</strong
      >
      Para mí, un buen código no solo se ejecuta: se entiende, se mantiene y evoluciona.
    </p>

    <p>
      Trabajo principalmente con tecnologías web modernas, combinando <strong
        >lógica, diseño y estructura</strong
      > para crear <strong>aplicaciones sólidas y agradables de usar.</strong>
      Aprendo de forma constante, me adapto con facilidad y afronto nuevos retos con
      entusiasmo.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/portfolio/profile.jpg"
    alt="Alan Figueroa"
    class="order-1 object-cover w-74 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-74 aspect-square rounded-2xl bg-white-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
