---
import { parseMultipleHighlights } from "../utils/highlightText";

const { text1, text2, text3 } = Astro.props;

const text1Parts = parseMultipleHighlights(text1);
const text2Parts = parseMultipleHighlights(text2);
const text3Parts = parseMultipleHighlights(text3);
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#2afc85] [&>p>strong]:font-normal [&>p>strong]:font-mono text-lg text-pretty order-2 md:order-1"
  >
    <p>
      {
        text1Parts.map((part) =>
          part.type === "highlighted" ? (
            <strong>{part.content}</strong>
          ) : (
            part.content
          )
        )
      }
    </p>

    <p>
      {
        text2Parts.map((part) =>
          part.type === "highlighted" ? (
            <strong>{part.content}</strong>
          ) : (
            part.content
          )
        )
      }
    </p>

    <p>
      {
        text3Parts.map((part) =>
          part.type === "highlighted" ? (
            <strong>{part.content}</strong>
          ) : (
            part.content
          )
        )
      }
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/portfolio/profile.jpg"
    alt="Alan Figueroa"
    class="order-1 object-cover w-74 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-74 aspect-square rounded-2xl bg-white-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
