---
import ExperienceItem from "./ExperienceItem.astro";

interface ExperienceJob {
  title: string;
  company: string;
  date: string;
  description: string[];
}

interface Props {
  job: Record<string, ExperienceJob>;
  showMore: string;
  showLess: string;
}

const { job, showMore, showLess }: Props = Astro.props;

const jobArray = Object.values(job) as ExperienceJob[];
---

<ol class="max-w-[1200px] mx-auto relative mt-16">
  {
    jobArray.map((experience: ExperienceJob) => (
      <li>
        <ExperienceItem
          {...experience}
          showMore={showMore}
          showLess={showLess}
        />
      </li>
    ))
  }
</ol>
