---
const currentYear = new Date().getFullYear();
const { footerText } = Astro.props;
---

<footer
  class="flex w-full py-5 px-10 mt-12 items-center justify-center md:justify-start"
>
  <div class="flex">
    <span class="text-sm sm:text-center text-zinc-200/90">
      &copy; {currentYear}
      {footerText}
    </span>
  </div>
</footer>
